.text-center {
  text-align: center;
}

h1, p {
  margin-top: 0;
  margin-bottom: 0.5rem
}
p{
  text-align: center;
  font-size: 1.125rem;
  display: block;


}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  cursor: default;
  box-sizing: border-box;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: .0625rem;
  resize: vertical; 
}

input, button, text-area, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}


form {
  background: grey;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0em;
  padding: 2.5rem;
  display: block;
}

.container {
  max-width: 540px;
  width: 100%;
  margin: 3.125rem auto 0 auto
}

.description{
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

body {
  font-family: 'Poppins', sans serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 100%;
  width: 100%;
  color: white;
  margin: 0;
}

div {
  display: block;
}

.form-group {
  margin: 0 auto 1.25rem auto; 
  padding: 0.25rem;
  box-sizing: border-box; 
}

textarea {
  background-color: field;
  border-width: 1px;
  border-style: solid;
  border-image: inherit;
  text-align: start;
  appearance: auto;


}